@keyframes up-to-down {
  0% {
    margin-top: 300px;
  }
  100% {
    margin: 0px;
  }
}
@keyframes wheel {
  0% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  background-color: #696e34;
  margin: 0;
  padding: 0;
}

main {
  padding-left: 4%;
  padding-right: 4%;
}

.color-text-amarillo {
  color: #e9b607;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-family: cursive;
}

h5 {
  padding-bottom: 2%;
}

nav {
  background-color: #18404e;
  color: #e9b607;
}

.nav-link {
  color: #e9b607;
}

.navbar-toggler-icon {
  background-image: url("../img/burger.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.img-logo-nav:hover {
  transform: rotate(360deg);
  transition-duration: 1.5s;
}

footer {
  background-color: #18404e;
  background: #18404e;
}
footer .footer-link {
  color: #e9b607;
}

.carousel-conteiner {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.bienvenida-index {
  background-color: #18404e;
  border-radius: 2%;
  color: #e9b607;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-right: 2%;
  width: 40vw;
  height: auto;
  text-align: center;
  animation-name: wheel;
  animation-duration: 3s;
}
.bienvenida-index img {
  width: 15vw;
  animation-name: up-to-down;
  animation-duration: 2s;
}

.carousel {
  margin-bottom: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 40vw;
}
.carousel img {
  width: 10rem;
}

form {
  margin-top: 1%;
  margin-bottom: 3%;
  margin-bottom: 3%;
  background-color: #18404e;
  border-radius: 1%;
  text-align: center;
}
form .btn-form {
  color: #18404e;
  background-color: #e9b607;
  margin-bottom: 1%;
}
form .form-label {
  color: #e9b607;
}

.quienes-somos {
  background-color: #18404e;
  margin-top: 2%;
  color: #e9b607;
  border-radius: 1%;
  text-align: center;
  margin-bottom: 2%;
}

.img-about img {
  align-content: center;
}

@media (max-width: 900px) {
  .carrito-container {
    grid-template-areas: "e1" "e2" "e3" "e4" "e5";
    grid-template-columns: 1fr;
  }
  .carousel-conteiner {
    margin-left: 3%;
    flex-direction: column;
  }
  .carousel {
    width: 80vw;
  }
  .bienvenida-index {
    width: 80vw;
  }
}
@keyframes up-to-down {
  0% {
    margin-top: 300px;
  }
  100% {
    margin: 0px;
  }
}
@keyframes wheel {
  0% {
    transform: rotate(170deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.btn-item {
  color: #18404e;
  background-color: #e9b607;
  border-radius: 50%;
  box-shadow: #18404e;
  font-family: cursive;
  text-decoration: solid;
  width: 9rem;
}
.btn-item .btn-item:hover {
  translate: 2px 1px;
}

.item-off {
  background-color: #18404e;
  border-radius: 1%;
  text-align: center;
  margin: 2%;
  animation-name: up-to-down;
  animation-duration: 2.5s;
}

.ofertas {
  padding: 0;
}

.carrito-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "e1 e1 e5" "e2 e2 e5" "e3 e3 e4";
  text-align: center;
}
.carrito-container img {
  width: 15vw;
}
.carrito-container .grid-item {
  display: flex;
  flex-direction: row;
  background-color: #18404e;
  box-shadow: 1px 1px #e9b607;
  margin: 3%;
  color: #e9b607;
  border-radius: 2%;
}
.carrito-container .grid-item-np {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #18404e;
  box-shadow: 1px 1px #e9b607;
  margin: 3%;
  border-radius: 2%;
  color: #e9b607;
}
.carrito-container .grid-item-np input {
  width: 80%;
  height: 40%;
}

.product-carrito-1 {
  grid-area: e1;
}

.product-carrito-2 {
  grid-area: e2;
}

.product-carrito-3 {
  grid-area: e3;
}

.price-carrito {
  grid-area: e4;
}

.feed-carrito {
  grid-area: e5;
}

/*# sourceMappingURL=main.css.map */
