body{background-color: #696e34;}
nav {background-color: #18404e;}

.nav-link{color: #e9b607 ;}

.custom-toggler-icon{background-image:url("img/burger.png");
background-size: cover;
width: 30px;
height: 30px;}
.costumer-carousel-height {height: 25rem ;width: 25rem; margin-top: 1% ;}
.custom-footer-height{height:20rem ;}
.carousel{margin-bottom: 5%;}
  .costumer-text-a-nav,.costumer-text-a-nav:hover,.costumer-text-a-nav:focus{color:#e9b607;}
  footer{background-color:#18404e ;}
  .footer-link{color:#e9b607;}

  .color-text-amarillo{color:#e9b607}
  /*custom forms↓*/

.form-label{color: #e9b607;}
form{margin-top: 1% ;margin-bottom: 3%; margin-bottom:3%; ;background-color: #18404e; border-radius: 1%; text-align: center;}
.ofertas{width: 100%;}
  /*------*/

.item-off{background-color: #18404e ; border-radius: 1%; text-align: center;margin-left: 2%;}

.quienes-somos{background-color: #18404e ;margin-top: 2%;color: #e9b607;border-radius: 1%;}
h1{text-align: center; font-family:'Times New Roman', Times, serif;}
.btn {color: #e9b607;}
h3{font-family: cursive;}
h5{padding-bottom: 2%;}

/*@media (max-width: 400px) {
  .carousel-inner .carousel-item .carousel-image {
    max-width: 65%;
    height: 50%;
  }
}*/
.btn-item{
  color: #18404e;
  background-color: #e9b607;
  border-radius:50%;
  box-shadow: #18404e;
  font-family: cursive;
  text-decoration: solid;
  width:15rem;;

}


.btn-item:hover{
  translate:2px 1px;
}


.grid-container {
  display: grid;
  grid-template-columns:3fr 1fr ;
  grid-gap: 10px;
}

.grid-item {
  color: #e9b607;
  background-color:#18404e;
  box-shadow:#e9b607 5px 5px;
  padding: 20px;
  margin-bottom: 1%;
  height:15rem;
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items:start;
}
.grid-item p{
  padding: 20px;
}
.grid-item input{
  width:13rem;
  height:13rem;
}
.grid-item button{ justify-content: center;}
.img-carrito{width: 12rem;

}
/*@media (max-width:800px){
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
  }
}*/
