body{
    background-color:$color3;
}
main{
    padding-left: 2%;
}
.color-text-amarillo{
        color:$color2
}

//↓H↓
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
h3{
    font-family: cursive;
}
h5{
    padding-bottom: 2%;
}