
.bienvenida-index{
    background-color: $color1;
    border-radius: 2%;
    color:$color2;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 2%;
    width:40vw;
    height:auto;
    text-align: center;
  
  }
  

  .carousel{
    margin-bottom: 5%; 
    padding-top: 25px;
    padding-bottom: 25px;
    width:40vw;
  }