@import"_mixins.scss";

.carousel-conteiner{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}

.bienvenida-index{
    background-color: $color1;
    border-radius: 2%;
    color:$color2;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 2%;
    padding: 10px;
    width:40vw;
    height:auto;
    text-align: center;
        @include animation(wheel,3s);
            img{
            width:15vw;
            @include animation(up-to-down,2s);
            }
    }
    .carousel{margin-bottom: 5%; 

    padding-top: 25px;
    padding-bottom: 25px;
    width:40vw;
        
            img{
                width:10rem;
            }
        }


